{% extends "layout.html" %}

{% block body %}
<h3>Hakkımda</h3>
<hr>
Sorunlar, sıkıntılar ve çalkantılarla dolu bir yılın daha sonuna geldik. Ama hayatın tüm curcunası ve bilinmezliği bir yana, son 400 yıldır değişmeyen bir gerçek, hayatımızın bir sabiti olarak yoluna devam etti: Bilim. 2022, birbirinden harika bilimsel gelişmelere sahne oldu ve tahmin ediyorum önemli bir bölümü, Türkiye'nin vıcık vıcık gündemi içinde eriyip kayboldu. O nedenle gelin bugün sizlerle bilim camiasında bu yıl yaşanan önemli gelişmelere bir göz atalım ve 2022'de bilim sayesinde karanlığın içinde nereleri fethetmişiz bir gözden geçirelim.
<hr>
{% endblock body %}